.content {
    margin-top: 1rem;
}

.pokemon .name {
    color: white;
    margin-bottom: .25rem;
    text-transform: capitalize;
    text-decoration: solid;
    font-size: 2rem;
}

.pokemon .number {
    color: #fff;
    float: right;
    font-size: .7rem;
}

.detail .types {
    padding: 0;
    margin-bottom: 2rem;
    margin-top: .25rem;
    list-style: none; 
}

.detail .types .type {
    color: white;
    padding: .25rem 1rem;
    font-size: .8rem;
    margin: .25rem 0;
    border-radius: 1rem;
    width: fit-content;
    display: inline-block;
}

.detail img{
    display: block;
    margin: auto;
    height: 300px;
    max-width: 100%;
    position: relative;
    z-index: 3;
}

.background-img {
    height: 300px;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 13%;
    
    /* Centraliza horizontal e verticalmente */
    top: -450px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

.stats {
    background-color: #fff;
    position: relative;
    z-index: 2;
    margin-top: -1.5rem;
    border-radius: .7rem;
}

.stats .statsTitle {
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem 1rem
}

.stats .statsDetail {
    text-align: center;
    font-size: .9rem;
    list-style: none;
    padding: 1rem;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
}

.back-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.back-btn:hover {
    background-color: #c1c1c1;
    transform: scale(1.05)
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
